@inherits LayoutComponentBase

<main>
    <NavLink href="" Match="NavLinkMatch.All">
        <span>Home</span> 
    </NavLink>
    <br />
    <NavLink class="nav-link" href="fetchdata">
        <span>Fetch data</span>
    </NavLink>
    <br />
    @Body
</main>
